body{
    background: #eee;
}
form{
    padding:0 0.24rem;
}
textarea{
    margin-top: 0.4rem;
    display: block;
    width: 100%;
    border:none;
    border-radius: 0.1rem;
    resize: none;
    height: 4.9rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.4rem 0.6rem;
    font-size: 0.3rem;
    color:#999;
}