#banner{
    height: 4rem;
    width:100%;
    background:url(../images/help/banner.png) no-repeat center center;
    -webkit-background-size:cover;
    background-size:cover;
}
.content li img{
    display: inline-block;
    width: 1.44rem;
    height: 1.44rem;
}
.content li{
    width:50%;
    margin-top:0.44rem;
    text-align: center;
}